.cache/
.gnupg/**/*
.config/gnupg/**/*
.pki/**/*

Documents/**/*
Downloads/**/*

.config/discord/**/*
.config/discordcanary/**/*
.config/google-chrome/**/*
.config/pki/**/*

.local/share/recently-used.xbel
.local/share/zathura/**/*
.local/share/xorg/**/*
.local/share/ranger/**/*
.local/share/nvim/**/*
.local/share/newsboat/**/*
.local/share/fish/**/*

.bash_history
.viminfo
.wget-hsts
.Xauthority

tmp/
src/tmp
node_modules/
Documents/
Downloads/